In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('homelessness.csv')

In [6]:
data = data.drop(['Unnamed: 0'],axis=1)

In [9]:
data.drop_duplicates(subset='region', keep='last')

                region          state  individuals  family_members  state_pop
38        Mid-Atlantic   Pennsylvania       8163.0          5349.0   12800922
41  West North Central   South Dakota        836.0           323.0     878698
42  East South Central      Tennessee       6139.0          1744.0    6771631
43  West South Central          Texas      19199.0          6111.0   28628666
45         New England        Vermont        780.0           511.0     624358
47             Pacific     Washington      16424.0          5880.0    7523869
48      South Atlantic  West Virginia       1021.0           222.0    1804291
49  East North Central      Wisconsin       2740.0          2167.0    5807406
50            Mountain        Wyoming        434.0           205.0     577601

In [10]:
# group by

In [11]:
data.groupby('region')

In [18]:
data.groupby('region').first()

                          state  individuals  family_members  state_pop
region
East North Central     Illinois       6752.0          3891.0   12723071
East South Central      Alabama       2570.0           864.0    4887681
Mid-Atlantic         New Jersey       6048.0          3350.0    8886025
Mountain                Arizona       7259.0          2606.0    7158024
New England         Connecticut       2280.0          1696.0    3571520
Pacific                  Alaska       1434.0           582.0     735139
South Atlantic         Delaware        708.0           374.0     965479
West North Central         Iowa       1711.0          1038.0    3148618
West South Central     Arkansas       2280.0           432.0    3009733

In [14]:
data.groupby('region').head(10)

,region,state,individuals,family_members,state_pop
0,East South Central,Alabama,2570.0,864.0,4887681
1,Pacific,Alaska,1434.0,582.0,735139
2,Mountain,Arizona,7259.0,2606.0,7158024
3,West South Central,Arkansas,2280.0,432.0,3009733
4,Pacific,California,109008.0,20964.0,39461588
5,Mountain,Colorado,7607.0,3250.0,5691287
6,New England,Connecticut,2280.0,1696.0,3571520
7,South Atlantic,Delaware,708.0,374.0,965479
8,South Atlantic,District of Columbia,3770.0,3134.0,701547
9,South Atlantic,Florida,21443.0,9587.0,21244317
10,South Atlantic,Georgia,6943.0,2556.0,10511131
11,Pacific,Hawaii,4131.0,2399.0,1420593
12,Mountain,Idaho,1297.0,715.0,1750536
13,East North Central,Illinois,6752.0,3891.0,12723071
14,East North Central,Indiana,3776.0,1482.0,6695497
15,West North Central,Iowa,1711.0,1038.0,3148618
16,West North Central,Kansas,1443.0,773.0,2911359
17,East South Central,Kentucky,2735.0,953.0,4461153
18,West South Central,Louisiana,2540.0,519.0,4659690
19,New England,Maine,1450.0,1066.0,1339057
20,South Atlantic,Maryland,4914.0,2230.0,6035802
21,New England,Massachusetts,6811.0,13257.0,6882635
22,East North Central,Michigan,5209.0,3142.0,9984072
23,West North Central,Minnesota,3993.0,3250.0,5606249
24,East South Central,Mississippi,1024.0,328.0,2981020
25,West North Central,Missouri,3776.0,2107.0,6121623
26,Mountain,Montana,983.0,422.0,1060665
27,West North Central,Nebraska,1745.0,676.0,1925614
28,Mountain,Nevada,7058.0,486.0,3027341
29,New England,New Hampshire,835.0,615.0,1353465
30,Mid-Atlantic,New Jersey,6048.0,3350.0,8886025
31,Mountain,New Mexico,1949.0,602.0,2092741
32,Mid-Atlantic,New York,39827.0,52070.0,19530351
33,South Atlantic,North Carolina,6451.0,2817.0,10381615
34,West North Central,North Dakota,467.0,75.0,758080
35,East North Central,Ohio,6929.0,3320.0,11676341
36,West South Central,Oklahoma,2823.0,1048.0,3940235
37,Pacific,Oregon,11139.0,3337.0,4181886
38,Mid-Atlantic,Pennsylvania,8163.0,5349.0,12800922
39,New England,Rhode Island,747.0,354.0,1058287
40,South Atlantic,South Carolina,3082.0,851.0,5084156
41,West North Central,South Dakota,836.0,323.0,878698
42,East South Central,Tennessee,6139.0,1744.0,6771631
43,West South Central,Texas,19199.0,6111.0,28628666
44,Mountain,Utah,1904.0,972.0,3153550
45,New England,Vermont,780.0,511.0,624358
46,South Atlantic,Virginia,3928.0,2047.0,8501286
47,Pacific,Washington,16424.0,5880.0,7523869
48,South Atlantic,West Virginia,1021.0,222.0,1804291
49,East North Central,Wisconsin,2740.0,2167.0,5807406
50,Mountain,Wyoming,434.0,205.0,577601

In [15]:
data.groupby('region')['state_pop'].max()

region
East North Central    12723071
East South Central     6771631
Mid-Atlantic          19530351
Mountain               7158024
New England            6882635
Pacific               39461588
South Atlantic        21244317
West North Central     6121623
West South Central    28628666
Name: state_pop, dtype: int64

In [16]:
data[data['region']=='Pacific']

     region       state  individuals  family_members  state_pop
1   Pacific      Alaska       1434.0           582.0     735139
4   Pacific  California     109008.0         20964.0   39461588
11  Pacific      Hawaii       4131.0          2399.0    1420593
37  Pacific      Oregon      11139.0          3337.0    4181886
47  Pacific  Washington      16424.0          5880.0    7523869

In [35]:
# index = pd.MultiIndex.from_arrays(data.values, names=('region','state','individuals','family_numbers','state_pop'))

ValueError: Length of names must match number of levels in MultiIndex.

In [29]:
data_group = data.groupby(['region','state'])

In [37]:
data_group.first()

                                         individuals  family_members  \
region             state
East North Central Illinois                   6752.0          3891.0
                   Indiana                    3776.0          1482.0
                   Michigan                   5209.0          3142.0
                   Ohio                       6929.0          3320.0
                   Wisconsin                  2740.0          2167.0
East South Central Alabama                    2570.0           864.0
                   Kentucky                   2735.0           953.0
                   Mississippi                1024.0           328.0
                   Tennessee                  6139.0          1744.0
Mid-Atlantic       New Jersey                 6048.0          3350.0
                   New York                  39827.0         52070.0
                   Pennsylvania               8163.0          5349.0
Mountain           Arizona                    7259.0          2606.0
                   Colorado                   7607.0          3250.0
                   Idaho                      1297.0           715.0
                   Montana                     983.0           422.0
                   Nevada                     7058.0           486.0
                   New Mexico                 1949.0           602.0
                   Utah                       1904.0           972.0
                   Wyoming                     434.0           205.0
New England        Connecticut                2280.0          1696.0
                   Maine                      1450.0          1066.0
                   Massachusetts              6811.0         13257.0
                   New Hampshire               835.0           615.0
                   Rhode Island                747.0           354.0
                   Vermont                     780.0           511.0
Pacific            Alaska                     1434.0           582.0
                   California               109008.0         20964.0
                   Hawaii                     4131.0          2399.0
                   Oregon                    11139.0          3337.0
                   Washington                16424.0          5880.0
South Atlantic     Delaware                    708.0           374.0
                   District of Columbia       3770.0          3134.0
                   Florida                   21443.0          9587.0
                   Georgia                    6943.0          2556.0
                   Maryland                   4914.0          2230.0
                   North Carolina             6451.0          2817.0
                   South Carolina             3082.0           851.0
                   Virginia                   3928.0          2047.0
                   West Virginia              1021.0           222.0
West North Central Iowa                       1711.0          1038.0
                   Kansas                     1443.0           773.0
                   Minnesota                  3993.0          3250.0
                   Missouri                   3776.0          2107.0
                   Nebraska                   1745.0           676.0
                   North Dakota                467.0            75.0
                   South Dakota                836.0           323.0
West South Central Arkansas                   2280.0           432.0
                   Louisiana                  2540.0           519.0
                   Oklahoma                   2823.0          1048.0
                   Texas                     19199.0          6111.0

                                         state_pop
region             state
East North Central Illinois               12723071
                   Indiana                 6695497
                   Michigan                9984072
                   Ohio                   11676341
                   Wisconsin               5807406
East South Central Alabama                 4887681
                   Kentucky                4461153
                   Mississippi             2981020
                   Tennessee               6771631
Mid-Atlantic       New Jersey              8886025
                   New York               19530351
                   Pennsylvania           12800922
Mountain           Arizona                 7158024
                   Colorado                5691287
                   Idaho                   1750536
                   Montana                 1060665
                   Nevada                  3027341
                   New Mexico              2092741
                   Utah                    3153550
                   Wyoming                  577601
New England        Connecticut             3571520
                   Maine                   1339057
                   Massachusetts           6882635
                   New Hampshire           1353465
                   Rhode Island            1058287
                   Vermont                  624358
Pacific            Alaska                   735139
                   California             39461588
                   Hawaii                  1420593
                   Oregon                  4181886
                   Washington              7523869
South Atlantic     Delaware                 965479
                   District of Columbia     701547
                   Florida                21244317
                   Georgia                10511131
                   Maryland                6035802
                   North Carolina         10381615
                   South Carolina          5084156
                   Virginia                8501286
                   West Virginia           1804291
West North Central Iowa                    3148618
                   Kansas                  2911359
                   Minnesota               5606249
                   Missouri                6121623
                   Nebraska                1925614
                   North Dakota             758080
                   South Dakota             878698
West South Central Arkansas                3009733
                   Louisiana               4659690
                   Oklahoma                3940235
                   Texas                  28628666

In [38]:
data_group.first().index

MultiIndex([('East North Central',             'Illinois'),
            ('East North Central',              'Indiana'),
            ('East North Central',             'Michigan'),
            ('East North Central',                 'Ohio'),
            ('East North Central',            'Wisconsin'),
            ('East South Central',              'Alabama'),
            ('East South Central',             'Kentucky'),
            ('East South Central',          'Mississippi'),
            ('East South Central',            'Tennessee'),
            (      'Mid-Atlantic',           'New Jersey'),
            (      'Mid-Atlantic',             'New York'),
            (      'Mid-Atlantic',         'Pennsylvania'),
            (          'Mountain',              'Arizona'),
            (          'Mountain',             'Colorado'),
            (          'Mountain',                'Idaho'),
            (          'Mountain',              'Montana'),
            (          'Mountain',               'Nevada'),
            (          'Mountain',           'New Mexico'),
            (          'Mountain',                 'Utah'),
            (          'Mountain',              'Wyoming'),
            (       'New England',          'Connecticut'),
            (       'New England',                'Maine'),
            (       'New England',        'Massachusetts'),
            (       'New England',        'New Hampshire'),
            (       'New England',         'Rhode Island'),
            (       'New England',              'Vermont'),
            (           'Pacific',               'Alaska'),
            (           'Pacific',           'California'),
            (           'Pacific',               'Hawaii'),
            (           'Pacific',               'Oregon'),
            (           'Pacific',           'Washington'),
            (    'South Atlantic',             'Delaware'),
            (    'South Atlantic', 'District of Columbia'),
            (    'South Atlantic',              'Florida'),
            (    'South Atlantic',              'Georgia'),
            (    'South Atlantic',             'Maryland'),
            (    'South Atlantic',       'North Carolina'),
            (    'South Atlantic',       'South Carolina'),
            (    'South Atlantic',             'Virginia'),
            (    'South Atlantic',        'West Virginia'),
            ('West North Central',                 'Iowa'),
            ('West North Central',               'Kansas'),
            ('West North Central',            'Minnesota'),
            ('West North Central',             'Missouri'),
            ('West North Central',             'Nebraska'),
            ('West North Central',         'North Dakota'),
            ('West North Central',         'South Dakota'),
            ('West South Central',             'Arkansas'),
            ('West South Central',            'Louisiana'),
            ('West South Central',             'Oklahoma'),
            ('West South Central',                'Texas')],
           names=['region', 'state'])

In [39]:
data.groupby('region')['state_pop'].sum()

region
East North Central    46886387
East South Central    19101485
Mid-Atlantic          41217298
Mountain              24511745
New England           14829322
Pacific               53323075
South Atlantic        65229624
West North Central    21350241
West South Central    40238324
Name: state_pop, dtype: int64

In [41]:
data.groupby(['region','state'])['state_pop'].sum()

region              state
East North Central  Illinois                12723071
                    Indiana                  6695497
                    Michigan                 9984072
                    Ohio                    11676341
                    Wisconsin                5807406
East South Central  Alabama                  4887681
                    Kentucky                 4461153
                    Mississippi              2981020
                    Tennessee                6771631
Mid-Atlantic        New Jersey               8886025
                    New York                19530351
                    Pennsylvania            12800922
Mountain            Arizona                  7158024
                    Colorado                 5691287
                    Idaho                    1750536
                    Montana                  1060665
                    Nevada                   3027341
                    New Mexico               2092741
                    Utah                     3153550
                    Wyoming                   577601
New England         Connecticut              3571520
                    Maine                    1339057
                    Massachusetts            6882635
                    New Hampshire            1353465
                    Rhode Island             1058287
                    Vermont                   624358
Pacific             Alaska                    735139
                    California              39461588
                    Hawaii                   1420593
                    Oregon                   4181886
                    Washington               7523869
South Atlantic      Delaware                  965479
                    District of Columbia      701547
                    Florida                 21244317
                    Georgia                 10511131
                    Maryland                 6035802
                    North Carolina          10381615
                    South Carolina           5084156
                    Virginia                 8501286
                    West Virginia            1804291
West North Central  Iowa                     3148618
                    Kansas                   2911359
                    Minnesota                5606249
                    Missouri                 6121623
                    Nebraska                 1925614
                    North Dakota              758080
                    South Dakota              878698
West South Central  Arkansas                 3009733
                    Louisiana                4659690
                    Oklahoma                 3940235
                    Texas                   28628666
Name: state_pop, dtype: int64

In [42]:
# indexing and slicing

In [44]:
data.shape

(51, 5)

In [46]:
len(data['state'].unique())

51

In [49]:
data['region'][0]

'East South Central'

In [50]:
data

,region,state,individuals,family_members,state_pop
0,East South Central,Alabama,2570.0,864.0,4887681
1,Pacific,Alaska,1434.0,582.0,735139
2,Mountain,Arizona,7259.0,2606.0,7158024
3,West South Central,Arkansas,2280.0,432.0,3009733
4,Pacific,California,109008.0,20964.0,39461588
5,Mountain,Colorado,7607.0,3250.0,5691287
6,New England,Connecticut,2280.0,1696.0,3571520
7,South Atlantic,Delaware,708.0,374.0,965479
8,South Atlantic,District of Columbia,3770.0,3134.0,701547
9,South Atlantic,Florida,21443.0,9587.0,21244317
10,South Atlantic,Georgia,6943.0,2556.0,10511131
11,Pacific,Hawaii,4131.0,2399.0,1420593
12,Mountain,Idaho,1297.0,715.0,1750536
13,East North Central,Illinois,6752.0,3891.0,12723071
14,East North Central,Indiana,3776.0,1482.0,6695497
15,West North Central,Iowa,1711.0,1038.0,3148618
16,West North Central,Kansas,1443.0,773.0,2911359
17,East South Central,Kentucky,2735.0,953.0,4461153
18,West South Central,Louisiana,2540.0,519.0,4659690
19,New England,Maine,1450.0,1066.0,1339057
20,South Atlantic,Maryland,4914.0,2230.0,6035802
21,New England,Massachusetts,6811.0,13257.0,6882635
22,East North Central,Michigan,5209.0,3142.0,9984072
23,West North Central,Minnesota,3993.0,3250.0,5606249
24,East South Central,Mississippi,1024.0,328.0,2981020
25,West North Central,Missouri,3776.0,2107.0,6121623
26,Mountain,Montana,983.0,422.0,1060665
27,West North Central,Nebraska,1745.0,676.0,1925614
28,Mountain,Nevada,7058.0,486.0,3027341
29,New England,New Hampshire,835.0,615.0,1353465
30,Mid-Atlantic,New Jersey,6048.0,3350.0,8886025
31,Mountain,New Mexico,1949.0,602.0,2092741
32,Mid-Atlantic,New York,39827.0,52070.0,19530351
33,South Atlantic,North Carolina,6451.0,2817.0,10381615
34,West North Central,North Dakota,467.0,75.0,758080
35,East North Central,Ohio,6929.0,3320.0,11676341
36,West South Central,Oklahoma,2823.0,1048.0,3940235
37,Pacific,Oregon,11139.0,3337.0,4181886
38,Mid-Atlantic,Pennsylvania,8163.0,5349.0,12800922
39,New England,Rhode Island,747.0,354.0,1058287
40,South Atlantic,South Carolina,3082.0,851.0,5084156
41,West North Central,South Dakota,836.0,323.0,878698
42,East South Central,Tennessee,6139.0,1744.0,6771631
43,West South Central,Texas,19199.0,6111.0,28628666
44,Mountain,Utah,1904.0,972.0,3153550
45,New England,Vermont,780.0,511.0,624358
46,South Atlantic,Virginia,3928.0,2047.0,8501286
47,Pacific,Washington,16424.0,5880.0,7523869
48,South Atlantic,West Virginia,1021.0,222.0,1804291
49,East North Central,Wisconsin,2740.0,2167.0,5807406
50,Mountain,Wyoming,434.0,205.0,577601

In [52]:
data_state_index = data.set_index('state')

In [54]:
data_state_index['region']['Alabama']

'East South Central'

In [55]:
data_state_index

,region,individuals,family_members,state_pop
state,,,,
Alabama,East South Central,2570.0,864.0,4887681
Alaska,Pacific,1434.0,582.0,735139
Arizona,Mountain,7259.0,2606.0,7158024
Arkansas,West South Central,2280.0,432.0,3009733
California,Pacific,109008.0,20964.0,39461588
Colorado,Mountain,7607.0,3250.0,5691287
Connecticut,New England,2280.0,1696.0,3571520
Delaware,South Atlantic,708.0,374.0,965479
District of Columbia,South Atlantic,3770.0,3134.0,701547
Florida,South Atlantic,21443.0,9587.0,21244317
Georgia,South Atlantic,6943.0,2556.0,10511131
Hawaii,Pacific,4131.0,2399.0,1420593
Idaho,Mountain,1297.0,715.0,1750536
Illinois,East North Central,6752.0,3891.0,12723071
Indiana,East North Central,3776.0,1482.0,6695497
Iowa,West North Central,1711.0,1038.0,3148618
Kansas,West North Central,1443.0,773.0,2911359
Kentucky,East South Central,2735.0,953.0,4461153
Louisiana,West South Central,2540.0,519.0,4659690
Maine,New England,1450.0,1066.0,1339057
Maryland,South Atlantic,4914.0,2230.0,6035802
Massachusetts,New England,6811.0,13257.0,6882635
Michigan,East North Central,5209.0,3142.0,9984072
Minnesota,West North Central,3993.0,3250.0,5606249
Mississippi,East South Central,1024.0,328.0,2981020
Missouri,West North Central,3776.0,2107.0,6121623
Montana,Mountain,983.0,422.0,1060665
Nebraska,West North Central,1745.0,676.0,1925614
Nevada,Mountain,7058.0,486.0,3027341
New Hampshire,New England,835.0,615.0,1353465
New Jersey,Mid-Atlantic,6048.0,3350.0,8886025
New Mexico,Mountain,1949.0,602.0,2092741
New York,Mid-Atlantic,39827.0,52070.0,19530351
North Carolina,South Atlantic,6451.0,2817.0,10381615
North Dakota,West North Central,467.0,75.0,758080
Ohio,East North Central,6929.0,3320.0,11676341
Oklahoma,West South Central,2823.0,1048.0,3940235
Oregon,Pacific,11139.0,3337.0,4181886
Pennsylvania,Mid-Atlantic,8163.0,5349.0,12800922
Rhode Island,New England,747.0,354.0,1058287
South Carolina,South Atlantic,3082.0,851.0,5084156
South Dakota,West North Central,836.0,323.0,878698
Tennessee,East South Central,6139.0,1744.0,6771631
Texas,West South Central,19199.0,6111.0,28628666
Utah,Mountain,1904.0,972.0,3153550
Vermont,New England,780.0,511.0,624358
Virginia,South Atlantic,3928.0,2047.0,8501286
Washington,Pacific,16424.0,5880.0,7523869
West Virginia,South Atlantic,1021.0,222.0,1804291
Wisconsin,East North Central,2740.0,2167.0,5807406
Wyoming,Mountain,434.0,205.0,577601

In [56]:
data_state_index.reset_index()

,state,region,individuals,family_members,state_pop
0,Alabama,East South Central,2570.0,864.0,4887681
1,Alaska,Pacific,1434.0,582.0,735139
2,Arizona,Mountain,7259.0,2606.0,7158024
3,Arkansas,West South Central,2280.0,432.0,3009733
4,California,Pacific,109008.0,20964.0,39461588
5,Colorado,Mountain,7607.0,3250.0,5691287
6,Connecticut,New England,2280.0,1696.0,3571520
7,Delaware,South Atlantic,708.0,374.0,965479
8,District of Columbia,South Atlantic,3770.0,3134.0,701547
9,Florida,South Atlantic,21443.0,9587.0,21244317
10,Georgia,South Atlantic,6943.0,2556.0,10511131
11,Hawaii,Pacific,4131.0,2399.0,1420593
12,Idaho,Mountain,1297.0,715.0,1750536
13,Illinois,East North Central,6752.0,3891.0,12723071
14,Indiana,East North Central,3776.0,1482.0,6695497
15,Iowa,West North Central,1711.0,1038.0,3148618
16,Kansas,West North Central,1443.0,773.0,2911359
17,Kentucky,East South Central,2735.0,953.0,4461153
18,Louisiana,West South Central,2540.0,519.0,4659690
19,Maine,New England,1450.0,1066.0,1339057
20,Maryland,South Atlantic,4914.0,2230.0,6035802
21,Massachusetts,New England,6811.0,13257.0,6882635
22,Michigan,East North Central,5209.0,3142.0,9984072
23,Minnesota,West North Central,3993.0,3250.0,5606249
24,Mississippi,East South Central,1024.0,328.0,2981020
25,Missouri,West North Central,3776.0,2107.0,6121623
26,Montana,Mountain,983.0,422.0,1060665
27,Nebraska,West North Central,1745.0,676.0,1925614
28,Nevada,Mountain,7058.0,486.0,3027341
29,New Hampshire,New England,835.0,615.0,1353465
30,New Jersey,Mid-Atlantic,6048.0,3350.0,8886025
31,New Mexico,Mountain,1949.0,602.0,2092741
32,New York,Mid-Atlantic,39827.0,52070.0,19530351
33,North Carolina,South Atlantic,6451.0,2817.0,10381615
34,North Dakota,West North Central,467.0,75.0,758080
35,Ohio,East North Central,6929.0,3320.0,11676341
36,Oklahoma,West South Central,2823.0,1048.0,3940235
37,Oregon,Pacific,11139.0,3337.0,4181886
38,Pennsylvania,Mid-Atlantic,8163.0,5349.0,12800922
39,Rhode Island,New England,747.0,354.0,1058287
40,South Carolina,South Atlantic,3082.0,851.0,5084156
41,South Dakota,West North Central,836.0,323.0,878698
42,Tennessee,East South Central,6139.0,1744.0,6771631
43,Texas,West South Central,19199.0,6111.0,28628666
44,Utah,Mountain,1904.0,972.0,3153550
45,Vermont,New England,780.0,511.0,624358
46,Virginia,South Atlantic,3928.0,2047.0,8501286
47,Washington,Pacific,16424.0,5880.0,7523869
48,West Virginia,South Atlantic,1021.0,222.0,1804291
49,Wisconsin,East North Central,2740.0,2167.0,5807406
50,Wyoming,Mountain,434.0,205.0,577601

In [58]:
data_state_index.reset_index(drop=True)

                region  individuals  family_members  state_pop
0   East South Central       2570.0           864.0    4887681
1              Pacific       1434.0           582.0     735139
2             Mountain       7259.0          2606.0    7158024
3   West South Central       2280.0           432.0    3009733
4              Pacific     109008.0         20964.0   39461588
5             Mountain       7607.0          3250.0    5691287
6          New England       2280.0          1696.0    3571520
7       South Atlantic        708.0           374.0     965479
8       South Atlantic       3770.0          3134.0     701547
9       South Atlantic      21443.0          9587.0   21244317
10      South Atlantic       6943.0          2556.0   10511131
11             Pacific       4131.0          2399.0    1420593
12            Mountain       1297.0           715.0    1750536
13  East North Central       6752.0          3891.0   12723071
14  East North Central       3776.0          1482.0    6695497
15  West North Central       1711.0          1038.0    3148618
16  West North Central       1443.0           773.0    2911359
17  East South Central       2735.0           953.0    4461153
18  West South Central       2540.0           519.0    4659690
19         New England       1450.0          1066.0    1339057
20      South Atlantic       4914.0          2230.0    6035802
21         New England       6811.0         13257.0    6882635
22  East North Central       5209.0          3142.0    9984072
23  West North Central       3993.0          3250.0    5606249
24  East South Central       1024.0           328.0    2981020
25  West North Central       3776.0          2107.0    6121623
26            Mountain        983.0           422.0    1060665
27  West North Central       1745.0           676.0    1925614
28            Mountain       7058.0           486.0    3027341
29         New England        835.0           615.0    1353465
30        Mid-Atlantic       6048.0          3350.0    8886025
31            Mountain       1949.0           602.0    2092741
32        Mid-Atlantic      39827.0         52070.0   19530351
33      South Atlantic       6451.0          2817.0   10381615
34  West North Central        467.0            75.0     758080
35  East North Central       6929.0          3320.0   11676341
36  West South Central       2823.0          1048.0    3940235
37             Pacific      11139.0          3337.0    4181886
38        Mid-Atlantic       8163.0          5349.0   12800922
39         New England        747.0           354.0    1058287
40      South Atlantic       3082.0           851.0    5084156
41  West North Central        836.0           323.0     878698
42  East South Central       6139.0          1744.0    6771631
43  West South Central      19199.0          6111.0   28628666
44            Mountain       1904.0           972.0    3153550
45         New England        780.0           511.0     624358
46      South Atlantic       3928.0          2047.0    8501286
47             Pacific      16424.0          5880.0    7523869
48      South Atlantic       1021.0           222.0    1804291
49  East North Central       2740.0          2167.0    5807406
50            Mountain        434.0           205.0     577601

In [59]:
data.set_index(['region','state'])

                                         individuals  family_members  \
region             state
East South Central Alabama                    2570.0           864.0
Pacific            Alaska                     1434.0           582.0
Mountain           Arizona                    7259.0          2606.0
West South Central Arkansas                   2280.0           432.0
Pacific            California               109008.0         20964.0
Mountain           Colorado                   7607.0          3250.0
New England        Connecticut                2280.0          1696.0
South Atlantic     Delaware                    708.0           374.0
                   District of Columbia       3770.0          3134.0
                   Florida                   21443.0          9587.0
                   Georgia                    6943.0          2556.0
Pacific            Hawaii                     4131.0          2399.0
Mountain           Idaho                      1297.0           715.0
East North Central Illinois                   6752.0          3891.0
                   Indiana                    3776.0          1482.0
West North Central Iowa                       1711.0          1038.0
                   Kansas                     1443.0           773.0
East South Central Kentucky                   2735.0           953.0
West South Central Louisiana                  2540.0           519.0
New England        Maine                      1450.0          1066.0
South Atlantic     Maryland                   4914.0          2230.0
New England        Massachusetts              6811.0         13257.0
East North Central Michigan                   5209.0          3142.0
West North Central Minnesota                  3993.0          3250.0
East South Central Mississippi                1024.0           328.0
West North Central Missouri                   3776.0          2107.0
Mountain           Montana                     983.0           422.0
West North Central Nebraska                   1745.0           676.0
Mountain           Nevada                     7058.0           486.0
New England        New Hampshire               835.0           615.0
Mid-Atlantic       New Jersey                 6048.0          3350.0
Mountain           New Mexico                 1949.0           602.0
Mid-Atlantic       New York                  39827.0         52070.0
South Atlantic     North Carolina             6451.0          2817.0
West North Central North Dakota                467.0            75.0
East North Central Ohio                       6929.0          3320.0
West South Central Oklahoma                   2823.0          1048.0
Pacific            Oregon                    11139.0          3337.0
Mid-Atlantic       Pennsylvania               8163.0          5349.0
New England        Rhode Island                747.0           354.0
South Atlantic     South Carolina             3082.0           851.0
West North Central South Dakota                836.0           323.0
East South Central Tennessee                  6139.0          1744.0
West South Central Texas                     19199.0          6111.0
Mountain           Utah                       1904.0           972.0
New England        Vermont                     780.0           511.0
South Atlantic     Virginia                   3928.0          2047.0
Pacific            Washington                16424.0          5880.0
South Atlantic     West Virginia              1021.0           222.0
East North Central Wisconsin                  2740.0          2167.0
Mountain           Wyoming                     434.0           205.0

                                         state_pop
region             state
East South Central Alabama                 4887681
Pacific            Alaska                   735139
Mountain           Arizona                 7158024
West South Central Arkansas                3009733
Pacific            California             39461588
Mountain           Colorado                5691287
New England        Connecticut             3571520
South Atlantic     Delaware                 965479
                   District of Columbia     701547
                   Florida                21244317
                   Georgia                10511131
Pacific            Hawaii                  1420593
Mountain           Idaho                   1750536
East North Central Illinois               12723071
                   Indiana                 6695497
West North Central Iowa                    3148618
                   Kansas                  2911359
East South Central Kentucky                4461153
West South Central Louisiana               4659690
New England        Maine                   1339057
South Atlantic     Maryland                6035802
New England        Massachusetts           6882635
East North Central Michigan                9984072
West North Central Minnesota               5606249
East South Central Mississippi             2981020
West North Central Missouri                6121623
Mountain           Montana                 1060665
West North Central Nebraska                1925614
Mountain           Nevada                  3027341
New England        New Hampshire           1353465
Mid-Atlantic       New Jersey              8886025
Mountain           New Mexico              2092741
Mid-Atlantic       New York               19530351
South Atlantic     North Carolina         10381615
West North Central North Dakota             758080
East North Central Ohio                   11676341
West South Central Oklahoma                3940235
Pacific            Oregon                  4181886
Mid-Atlantic       Pennsylvania           12800922
New England        Rhode Island            1058287
South Atlantic     South Carolina          5084156
West North Central South Dakota             878698
East South Central Tennessee               6771631
West South Central Texas                  28628666
Mountain           Utah                    3153550
New England        Vermont                  624358
South Atlantic     Virginia                8501286
Pacific            Washington              7523869
South Atlantic     West Virginia           1804291
East North Central Wisconsin               5807406
Mountain           Wyoming                  577601

In [60]:
# Slicing

In [61]:
data.loc[25]

region            West North Central
state                       Missouri
individuals                   3776.0
family_members                2107.0
state_pop                    6121623
Name: 25, dtype: object

In [63]:
data_state_index.loc['Alaska']

region            Pacific
individuals        1434.0
family_members      582.0
state_pop          735139
Name: Alaska, dtype: object

In [65]:
data_state_index.loc[['Alaska','Virginia']]

                  region  individuals  family_members  state_pop
state
Alaska           Pacific       1434.0           582.0     735139
Virginia  South Atlantic       3928.0          2047.0    8501286

In [66]:
data_state_index

,region,individuals,family_members,state_pop
state,,,,
Alabama,East South Central,2570.0,864.0,4887681
Alaska,Pacific,1434.0,582.0,735139
Arizona,Mountain,7259.0,2606.0,7158024
Arkansas,West South Central,2280.0,432.0,3009733
California,Pacific,109008.0,20964.0,39461588
Colorado,Mountain,7607.0,3250.0,5691287
Connecticut,New England,2280.0,1696.0,3571520
Delaware,South Atlantic,708.0,374.0,965479
District of Columbia,South Atlantic,3770.0,3134.0,701547
Florida,South Atlantic,21443.0,9587.0,21244317
Georgia,South Atlantic,6943.0,2556.0,10511131
Hawaii,Pacific,4131.0,2399.0,1420593
Idaho,Mountain,1297.0,715.0,1750536
Illinois,East North Central,6752.0,3891.0,12723071
Indiana,East North Central,3776.0,1482.0,6695497
Iowa,West North Central,1711.0,1038.0,3148618
Kansas,West North Central,1443.0,773.0,2911359
Kentucky,East South Central,2735.0,953.0,4461153
Louisiana,West South Central,2540.0,519.0,4659690
Maine,New England,1450.0,1066.0,1339057
Maryland,South Atlantic,4914.0,2230.0,6035802
Massachusetts,New England,6811.0,13257.0,6882635
Michigan,East North Central,5209.0,3142.0,9984072
Minnesota,West North Central,3993.0,3250.0,5606249
Mississippi,East South Central,1024.0,328.0,2981020
Missouri,West North Central,3776.0,2107.0,6121623
Montana,Mountain,983.0,422.0,1060665
Nebraska,West North Central,1745.0,676.0,1925614
Nevada,Mountain,7058.0,486.0,3027341
New Hampshire,New England,835.0,615.0,1353465
New Jersey,Mid-Atlantic,6048.0,3350.0,8886025
New Mexico,Mountain,1949.0,602.0,2092741
New York,Mid-Atlantic,39827.0,52070.0,19530351
North Carolina,South Atlantic,6451.0,2817.0,10381615
North Dakota,West North Central,467.0,75.0,758080
Ohio,East North Central,6929.0,3320.0,11676341
Oklahoma,West South Central,2823.0,1048.0,3940235
Oregon,Pacific,11139.0,3337.0,4181886
Pennsylvania,Mid-Atlantic,8163.0,5349.0,12800922
Rhode Island,New England,747.0,354.0,1058287
South Carolina,South Atlantic,3082.0,851.0,5084156
South Dakota,West North Central,836.0,323.0,878698
Tennessee,East South Central,6139.0,1744.0,6771631
Texas,West South Central,19199.0,6111.0,28628666
Utah,Mountain,1904.0,972.0,3153550
Vermont,New England,780.0,511.0,624358
Virginia,South Atlantic,3928.0,2047.0,8501286
Washington,Pacific,16424.0,5880.0,7523869
West Virginia,South Atlantic,1021.0,222.0,1804291
Wisconsin,East North Central,2740.0,2167.0,5807406
Wyoming,Mountain,434.0,205.0,577601

In [67]:
data_state_index.sort_index()

,region,individuals,family_members,state_pop
state,,,,
Alabama,East South Central,2570.0,864.0,4887681
Alaska,Pacific,1434.0,582.0,735139
Arizona,Mountain,7259.0,2606.0,7158024
Arkansas,West South Central,2280.0,432.0,3009733
California,Pacific,109008.0,20964.0,39461588
Colorado,Mountain,7607.0,3250.0,5691287
Connecticut,New England,2280.0,1696.0,3571520
Delaware,South Atlantic,708.0,374.0,965479
District of Columbia,South Atlantic,3770.0,3134.0,701547
Florida,South Atlantic,21443.0,9587.0,21244317
Georgia,South Atlantic,6943.0,2556.0,10511131
Hawaii,Pacific,4131.0,2399.0,1420593
Idaho,Mountain,1297.0,715.0,1750536
Illinois,East North Central,6752.0,3891.0,12723071
Indiana,East North Central,3776.0,1482.0,6695497
Iowa,West North Central,1711.0,1038.0,3148618
Kansas,West North Central,1443.0,773.0,2911359
Kentucky,East South Central,2735.0,953.0,4461153
Louisiana,West South Central,2540.0,519.0,4659690
Maine,New England,1450.0,1066.0,1339057
Maryland,South Atlantic,4914.0,2230.0,6035802
Massachusetts,New England,6811.0,13257.0,6882635
Michigan,East North Central,5209.0,3142.0,9984072
Minnesota,West North Central,3993.0,3250.0,5606249
Mississippi,East South Central,1024.0,328.0,2981020
Missouri,West North Central,3776.0,2107.0,6121623
Montana,Mountain,983.0,422.0,1060665
Nebraska,West North Central,1745.0,676.0,1925614
Nevada,Mountain,7058.0,486.0,3027341
New Hampshire,New England,835.0,615.0,1353465
New Jersey,Mid-Atlantic,6048.0,3350.0,8886025
New Mexico,Mountain,1949.0,602.0,2092741
New York,Mid-Atlantic,39827.0,52070.0,19530351
North Carolina,South Atlantic,6451.0,2817.0,10381615
North Dakota,West North Central,467.0,75.0,758080
Ohio,East North Central,6929.0,3320.0,11676341
Oklahoma,West South Central,2823.0,1048.0,3940235
Oregon,Pacific,11139.0,3337.0,4181886
Pennsylvania,Mid-Atlantic,8163.0,5349.0,12800922
Rhode Island,New England,747.0,354.0,1058287
South Carolina,South Atlantic,3082.0,851.0,5084156
South Dakota,West North Central,836.0,323.0,878698
Tennessee,East South Central,6139.0,1744.0,6771631
Texas,West South Central,19199.0,6111.0,28628666
Utah,Mountain,1904.0,972.0,3153550
Vermont,New England,780.0,511.0,624358
Virginia,South Atlantic,3928.0,2047.0,8501286
Washington,Pacific,16424.0,5880.0,7523869
West Virginia,South Atlantic,1021.0,222.0,1804291
Wisconsin,East North Central,2740.0,2167.0,5807406
Wyoming,Mountain,434.0,205.0,577601

In [68]:
# explore inplace=true parameter in drop_duplicates, set_index

In [69]:
data.iloc[0,0]

'East South Central'

In [70]:
data.loc[0, 'region']

'East South Central'

In [71]:
data.iloc[0, :]

region            East South Central
state                        Alabama
individuals                   2570.0
family_members                 864.0
state_pop                    4887681
Name: 0, dtype: object

In [72]:
data.iloc[:3, :]

               region    state  individuals  family_members  state_pop
0  East South Central  Alabama       2570.0           864.0    4887681
1             Pacific   Alaska       1434.0           582.0     735139
2            Mountain  Arizona       7259.0          2606.0    7158024

In [73]:
data.iloc[:2, :2]

               region    state
0  East South Central  Alabama
1             Pacific   Alaska

In [75]:
#first 2 rows
# last column
data.iloc[:2, -1:]

   state_pop
0    4887681
1     735139

In [79]:
# last 3 rows
# first 2 cols
data.iloc[-3:, :2]
data.iloc[48:, :2]

                region          state
48      South Atlantic  West Virginia
49  East North Central      Wisconsin
50            Mountain        Wyoming

In [80]:
type(data)

pandas.core.frame.DataFrame

In [81]:
data

,region,state,individuals,family_members,state_pop
0,East South Central,Alabama,2570.0,864.0,4887681
1,Pacific,Alaska,1434.0,582.0,735139
2,Mountain,Arizona,7259.0,2606.0,7158024
3,West South Central,Arkansas,2280.0,432.0,3009733
4,Pacific,California,109008.0,20964.0,39461588
5,Mountain,Colorado,7607.0,3250.0,5691287
6,New England,Connecticut,2280.0,1696.0,3571520
7,South Atlantic,Delaware,708.0,374.0,965479
8,South Atlantic,District of Columbia,3770.0,3134.0,701547
9,South Atlantic,Florida,21443.0,9587.0,21244317
10,South Atlantic,Georgia,6943.0,2556.0,10511131
11,Pacific,Hawaii,4131.0,2399.0,1420593
12,Mountain,Idaho,1297.0,715.0,1750536
13,East North Central,Illinois,6752.0,3891.0,12723071
14,East North Central,Indiana,3776.0,1482.0,6695497
15,West North Central,Iowa,1711.0,1038.0,3148618
16,West North Central,Kansas,1443.0,773.0,2911359
17,East South Central,Kentucky,2735.0,953.0,4461153
18,West South Central,Louisiana,2540.0,519.0,4659690
19,New England,Maine,1450.0,1066.0,1339057
20,South Atlantic,Maryland,4914.0,2230.0,6035802
21,New England,Massachusetts,6811.0,13257.0,6882635
22,East North Central,Michigan,5209.0,3142.0,9984072
23,West North Central,Minnesota,3993.0,3250.0,5606249
24,East South Central,Mississippi,1024.0,328.0,2981020
25,West North Central,Missouri,3776.0,2107.0,6121623
26,Mountain,Montana,983.0,422.0,1060665
27,West North Central,Nebraska,1745.0,676.0,1925614
28,Mountain,Nevada,7058.0,486.0,3027341
29,New England,New Hampshire,835.0,615.0,1353465
30,Mid-Atlantic,New Jersey,6048.0,3350.0,8886025
31,Mountain,New Mexico,1949.0,602.0,2092741
32,Mid-Atlantic,New York,39827.0,52070.0,19530351
33,South Atlantic,North Carolina,6451.0,2817.0,10381615
34,West North Central,North Dakota,467.0,75.0,758080
35,East North Central,Ohio,6929.0,3320.0,11676341
36,West South Central,Oklahoma,2823.0,1048.0,3940235
37,Pacific,Oregon,11139.0,3337.0,4181886
38,Mid-Atlantic,Pennsylvania,8163.0,5349.0,12800922
39,New England,Rhode Island,747.0,354.0,1058287
40,South Atlantic,South Carolina,3082.0,851.0,5084156
41,West North Central,South Dakota,836.0,323.0,878698
42,East South Central,Tennessee,6139.0,1744.0,6771631
43,West South Central,Texas,19199.0,6111.0,28628666
44,Mountain,Utah,1904.0,972.0,3153550
45,New England,Vermont,780.0,511.0,624358
46,South Atlantic,Virginia,3928.0,2047.0,8501286
47,Pacific,Washington,16424.0,5880.0,7523869
48,South Atlantic,West Virginia,1021.0,222.0,1804291
49,East North Central,Wisconsin,2740.0,2167.0,5807406
50,Mountain,Wyoming,434.0,205.0,577601

In [82]:
## Joins

### Inner Joins

In [84]:
wards = pd.read_pickle('ward.p')

In [87]:
census = pd.read_pickle("census.p")

In [88]:
wards.columns

Index(['ward', 'alderman', 'address', 'zip'], dtype='object')

In [89]:
census.columns

Index(['ward', 'pop_2000', 'pop_2010', 'change', 'address', 'zip'], dtype='object')

In [90]:
wards.merge(census, on="ward")

,ward,alderman,address_x,zip_x,pop_2000,pop_2010,change,address_y,zip_y
0,1,"Proco ""Joe"" Moreno",2058 NORTH WESTERN AVENUE,60647,52951,56149,6%,2765 WEST SAINT MARY STREET,60647
1,2,Brian Hopkins,1400 NORTH ASHLAND AVENUE,60622,54361,55805,3%,WM WASTE MANAGEMENT 1500,60622
2,3,Pat Dowell,5046 SOUTH STATE STREET,60609,40385,53039,31%,17 EAST 38TH STREET,60653
3,4,William D. Burns,"435 EAST 35TH STREET, 1ST FLOOR",60616,51953,54589,5%,31ST ST HARBOR BUILDING LAKEFRONT TRAIL,60653
4,5,Leslie A. Hairston,2325 EAST 71ST STREET,60649,55302,51455,-7%,JACKSON PARK LAGOON SOUTH CORNELL DRIVE,60637
5,6,Roderick T. Sawyer,8001 S. MARTIN LUTHER KING DRIVE,60619,54989,52341,-5%,150 WEST 74TH STREET,60636
6,7,Gregory I. Mitchell,2249 EAST 95TH STREET,60617,54593,51581,-6%,8549 SOUTH OGLESBY AVENUE,60617
7,8,Michelle A. Harris,8539 SOUTH COTTAGE GROVE AVENUE,60619,54039,51687,-4%,1346-1352 EAST 75TH STREET,60649
8,9,Anthony A. Beale,34 EAST 112TH PLACE,60628,52008,51519,-1%,11039-11059 SOUTH WENTWORTH AVENUE,60628
9,10,Susan Sadlowski Garza,10500 SOUTH EWING AVENUE,60617,56613,51535,-9%,10534 SOUTH AVENUE F,46394
10,11,Patrick Daley Thompson,3659 SOUTH HALSTED STREET,60609,64228,51497,-20%,943-947 WEST 14TH PLACE,60607
11,12,George Cardenas,3476 SOUTH ARCHER AVENUE,60608,68922,52235,-24%,CP 46 STEVENSON EXPRESSWAY,60632
12,13,Marty Quinn,6500 SOUTH PULASKI ROAD,60629,64382,53722,-17%,SOUTH RAMP SOUTH LARAMIE AVENUE,60638
13,14,Edward M. Burke,2650 WEST 51ST STREET,60632,80143,54031,-33%,4540 WEST 51ST STREET,60632
14,15,Raymond A. Lopez,1650 WEST 63RD STREET,60636,56057,51501,-8%,CHICAGO FIRE DEPARTMENT ENGINE COMPANY 123 2215,60632
15,16,Toni L. Foulkes,3045 WEST 63RD STREET,60629,50205,51954,3%,6036 SOUTH WOOD STREET,60636
16,17,David H. Moore,7313 SOUTH ASHLAND AVENUE,60636,49264,51846,5%,7216 SOUTH WINCHESTER AVENUE,60636
17,18,Derrick G. Curtis,8359 SOUTH PULASKI ROAD,60652,55043,52992,-4%,3286 WEST COLUMBUS AVENUE,60652
18,19,Matthew J. O'Shea,10400 SOUTH WESTERN AVENUE,60643,54546,51525,-6%,9999 SOUTH FRANCISCO AVENUE,60805
19,20,Willie B. Cochran,6357 SOUTH COTTAGE GROVE AVENUE,60637,51854,52372,1%,DAN RYAN EXPRESSWAY PARK MANOR,60621
20,21,"Howard B. Brookins, Jr.","9011 SOUTH ASHLAND AVENUE, UNIT B",60620,51751,51632,0%,8852-8854 SOUTH EMERALD AVENUE,60620
21,22,Ricardo Munoz,2500 SOUTH ST. LOUIS AVENUE,60623,59734,53515,-10%,4233 WEST 36TH STREET,60632
22,23,Michael R. Zalewski,6247 SOUTH ARCHER AVENUE,60638,63691,53728,-16%,CHICAGO MIDWAY INTERNATIONAL AIRPORT WEST 62ND...,60629
23,24,"Michael Scott, Jr.",1158 SOUTH KEELER AVENUE,60624,50879,54909,8%,1635 SOUTH CHRISTIANA AVENUE,60623
24,25,"Daniel ""Danny"" Solis",1800 SOUTH BLUE ISLAND AVENUE,60608,55954,54539,-3%,1632-1746 SOUTH MILLER STREET,60608
25,26,Roberto Maldonado,2511 WEST DIVISION STREET,60622,56841,53516,-6%,LITTLE CUBS FIELD COMFORT STATION 1400,60622
26,27,"Walter Burnett, Jr.",4 NORTH WESTERN AVENUE,60612,61287,52939,-14%,2151-2153 WEST CHICAGO AVENUE,60651
27,28,Jason C. Ervin,2602 WEST 16TH STREET,60612,49423,55199,12%,RML SPECIALTY HOSPITAL 3435,60624
28,29,Chris Taliaferro,6272 WEST NORTH AVENUE,60639,61949,55267,-11%,1241 NORTH RIDGELAND AVENUE,60302
29,30,Ariel E. Reyboras,3559 NORTH MILWAUKEE AVENUE,60641,72698,55560,-24%,5118 WEST FLETCHER STREET,60641
30,31,"Milagros ""Milly"" Santiago",2521 NORTH PULASKI ROAD,60639,65045,53724,-17%,2854 NORTH KEATING AVENUE,60641
31,32,Scott Waguespack,2657 NORTH CLYBOURN AVENUE,60614,57204,55184,-4%,2901 NORTH WASHTENAW AVENUE,60618
32,33,Deborah Mell,3001 WEST IRVING PARK ROAD,60618,63695,55598,-13%,4041-4043 NORTH RICHMOND STREET,60625
33,34,Carrie M. Austin,507 WEST 111TH STREET,60628,49922,51599,3%,11544-11546 SOUTH PEORIA STREET,60827
34,35,Carlos Ramirez-Rosa,2710 NORTH SAWYER AVENUE,60647,57588,55281,-4%,3634 WEST BELMONT AVENUE,60618
35,36,Gilbert Villegas,6934 WEST DIVERSEY,60607,63376,54766,-14%,2918 NORTH RUTHERFORD AVENUE,60634
36,37,Emma M. Mitts,4924 WEST CHICAGO AVENUE,60651,56120,51538,-8%,4738-4748 WEST RICE STREET,60651
37,38,Nicholas Sposato,3821 NORTH HARLEM AVENUE,60634,66011,56001,-15%,7307-7331 WEST IRVING PARK ROAD,60706
38,39,Margaret Laurino,4404 WEST LAWRENCE AVENUE,60630,64291,55882,-13%,QUEEN OF ALL SAINTS BASILICA 6280,60646
39,40,Patrick J. O'Connor,5850 NORTH LINCOLN AVENUE,60659,58652,55319,-6%,5536 NORTH ARTESIAN AVENUE,60645
40,41,Anthony V. Napolitano,7442 NORTH HARLEM AVENUE,60631,56127,55991,0%,1652 SOUTH CLIFTON AVENUE,60068
41,42,Brendan Reilly,"325 WEST HURON STREET, SUITE 510",60654,68102,55870,-18%,410-420 WEST GRAND AVENUE,60654
42,43,Michelle Smith,2523 NORTH HALSTED STREET,60614,57668,56170,-3%,LINCOLN PARK ZOO 2001,60614
43,44,Tom Tunney,3223 NORTH SHEFFIELD AVENUE,60657,58758,56058,-5%,507-513 WEST ALDINE AVENUE,60657
44,45,John S. Arena,4754 NORTH MILWAUKEE AVENUE,60630,60653,55967,-8%,CONGREGATIONAL CHURCH OF JEFFERSON PARK 5320,60630
45,46,James Cappleman,4544 NORTH BROADWAY AVENUE,60640,56587,53784,-5%,UPTOWN BROADWAY BUILDING 4743-4763,60640
46,47,Ameya Pawar,4243 NORTH LINCOLN AVENUE,60618,52108,55074,6%,2153 WEST BERTEAU AVENUE,60618
47,48,Harry Osterman,5533 NORTH BROADWAY AVENUE,60640,56246,55014,-2%,1025 WEST HOLLYWOOD AVENUE,60660
48,49,Joe Moore,7356 NORTH GREENVIEW AVENUE,60626,59435,54633,-8%,1426 WEST ESTES AVENUE,60645
49,50,Debra L. Silverstein,"2949 WEST DEVON AVENUE, SUITE A",60659,62383,55809,-11%,2638 WEST NORTH SHORE AVENUE,60645

In [91]:
wards.merge(census, on="ward", suffixes=['_wards','_census'])

,ward,alderman,address_wards,zip_wards,pop_2000,pop_2010,change,address_census,zip_census
0,1,"Proco ""Joe"" Moreno",2058 NORTH WESTERN AVENUE,60647,52951,56149,6%,2765 WEST SAINT MARY STREET,60647
1,2,Brian Hopkins,1400 NORTH ASHLAND AVENUE,60622,54361,55805,3%,WM WASTE MANAGEMENT 1500,60622
2,3,Pat Dowell,5046 SOUTH STATE STREET,60609,40385,53039,31%,17 EAST 38TH STREET,60653
3,4,William D. Burns,"435 EAST 35TH STREET, 1ST FLOOR",60616,51953,54589,5%,31ST ST HARBOR BUILDING LAKEFRONT TRAIL,60653
4,5,Leslie A. Hairston,2325 EAST 71ST STREET,60649,55302,51455,-7%,JACKSON PARK LAGOON SOUTH CORNELL DRIVE,60637
5,6,Roderick T. Sawyer,8001 S. MARTIN LUTHER KING DRIVE,60619,54989,52341,-5%,150 WEST 74TH STREET,60636
6,7,Gregory I. Mitchell,2249 EAST 95TH STREET,60617,54593,51581,-6%,8549 SOUTH OGLESBY AVENUE,60617
7,8,Michelle A. Harris,8539 SOUTH COTTAGE GROVE AVENUE,60619,54039,51687,-4%,1346-1352 EAST 75TH STREET,60649
8,9,Anthony A. Beale,34 EAST 112TH PLACE,60628,52008,51519,-1%,11039-11059 SOUTH WENTWORTH AVENUE,60628
9,10,Susan Sadlowski Garza,10500 SOUTH EWING AVENUE,60617,56613,51535,-9%,10534 SOUTH AVENUE F,46394
10,11,Patrick Daley Thompson,3659 SOUTH HALSTED STREET,60609,64228,51497,-20%,943-947 WEST 14TH PLACE,60607
11,12,George Cardenas,3476 SOUTH ARCHER AVENUE,60608,68922,52235,-24%,CP 46 STEVENSON EXPRESSWAY,60632
12,13,Marty Quinn,6500 SOUTH PULASKI ROAD,60629,64382,53722,-17%,SOUTH RAMP SOUTH LARAMIE AVENUE,60638
13,14,Edward M. Burke,2650 WEST 51ST STREET,60632,80143,54031,-33%,4540 WEST 51ST STREET,60632
14,15,Raymond A. Lopez,1650 WEST 63RD STREET,60636,56057,51501,-8%,CHICAGO FIRE DEPARTMENT ENGINE COMPANY 123 2215,60632
15,16,Toni L. Foulkes,3045 WEST 63RD STREET,60629,50205,51954,3%,6036 SOUTH WOOD STREET,60636
16,17,David H. Moore,7313 SOUTH ASHLAND AVENUE,60636,49264,51846,5%,7216 SOUTH WINCHESTER AVENUE,60636
17,18,Derrick G. Curtis,8359 SOUTH PULASKI ROAD,60652,55043,52992,-4%,3286 WEST COLUMBUS AVENUE,60652
18,19,Matthew J. O'Shea,10400 SOUTH WESTERN AVENUE,60643,54546,51525,-6%,9999 SOUTH FRANCISCO AVENUE,60805
19,20,Willie B. Cochran,6357 SOUTH COTTAGE GROVE AVENUE,60637,51854,52372,1%,DAN RYAN EXPRESSWAY PARK MANOR,60621
20,21,"Howard B. Brookins, Jr.","9011 SOUTH ASHLAND AVENUE, UNIT B",60620,51751,51632,0%,8852-8854 SOUTH EMERALD AVENUE,60620
21,22,Ricardo Munoz,2500 SOUTH ST. LOUIS AVENUE,60623,59734,53515,-10%,4233 WEST 36TH STREET,60632
22,23,Michael R. Zalewski,6247 SOUTH ARCHER AVENUE,60638,63691,53728,-16%,CHICAGO MIDWAY INTERNATIONAL AIRPORT WEST 62ND...,60629
23,24,"Michael Scott, Jr.",1158 SOUTH KEELER AVENUE,60624,50879,54909,8%,1635 SOUTH CHRISTIANA AVENUE,60623
24,25,"Daniel ""Danny"" Solis",1800 SOUTH BLUE ISLAND AVENUE,60608,55954,54539,-3%,1632-1746 SOUTH MILLER STREET,60608
25,26,Roberto Maldonado,2511 WEST DIVISION STREET,60622,56841,53516,-6%,LITTLE CUBS FIELD COMFORT STATION 1400,60622
26,27,"Walter Burnett, Jr.",4 NORTH WESTERN AVENUE,60612,61287,52939,-14%,2151-2153 WEST CHICAGO AVENUE,60651
27,28,Jason C. Ervin,2602 WEST 16TH STREET,60612,49423,55199,12%,RML SPECIALTY HOSPITAL 3435,60624
28,29,Chris Taliaferro,6272 WEST NORTH AVENUE,60639,61949,55267,-11%,1241 NORTH RIDGELAND AVENUE,60302
29,30,Ariel E. Reyboras,3559 NORTH MILWAUKEE AVENUE,60641,72698,55560,-24%,5118 WEST FLETCHER STREET,60641
30,31,"Milagros ""Milly"" Santiago",2521 NORTH PULASKI ROAD,60639,65045,53724,-17%,2854 NORTH KEATING AVENUE,60641
31,32,Scott Waguespack,2657 NORTH CLYBOURN AVENUE,60614,57204,55184,-4%,2901 NORTH WASHTENAW AVENUE,60618
32,33,Deborah Mell,3001 WEST IRVING PARK ROAD,60618,63695,55598,-13%,4041-4043 NORTH RICHMOND STREET,60625
33,34,Carrie M. Austin,507 WEST 111TH STREET,60628,49922,51599,3%,11544-11546 SOUTH PEORIA STREET,60827
34,35,Carlos Ramirez-Rosa,2710 NORTH SAWYER AVENUE,60647,57588,55281,-4%,3634 WEST BELMONT AVENUE,60618
35,36,Gilbert Villegas,6934 WEST DIVERSEY,60607,63376,54766,-14%,2918 NORTH RUTHERFORD AVENUE,60634
36,37,Emma M. Mitts,4924 WEST CHICAGO AVENUE,60651,56120,51538,-8%,4738-4748 WEST RICE STREET,60651
37,38,Nicholas Sposato,3821 NORTH HARLEM AVENUE,60634,66011,56001,-15%,7307-7331 WEST IRVING PARK ROAD,60706
38,39,Margaret Laurino,4404 WEST LAWRENCE AVENUE,60630,64291,55882,-13%,QUEEN OF ALL SAINTS BASILICA 6280,60646
39,40,Patrick J. O'Connor,5850 NORTH LINCOLN AVENUE,60659,58652,55319,-6%,5536 NORTH ARTESIAN AVENUE,60645
40,41,Anthony V. Napolitano,7442 NORTH HARLEM AVENUE,60631,56127,55991,0%,1652 SOUTH CLIFTON AVENUE,60068
41,42,Brendan Reilly,"325 WEST HURON STREET, SUITE 510",60654,68102,55870,-18%,410-420 WEST GRAND AVENUE,60654
42,43,Michelle Smith,2523 NORTH HALSTED STREET,60614,57668,56170,-3%,LINCOLN PARK ZOO 2001,60614
43,44,Tom Tunney,3223 NORTH SHEFFIELD AVENUE,60657,58758,56058,-5%,507-513 WEST ALDINE AVENUE,60657
44,45,John S. Arena,4754 NORTH MILWAUKEE AVENUE,60630,60653,55967,-8%,CONGREGATIONAL CHURCH OF JEFFERSON PARK 5320,60630
45,46,James Cappleman,4544 NORTH BROADWAY AVENUE,60640,56587,53784,-5%,UPTOWN BROADWAY BUILDING 4743-4763,60640
46,47,Ameya Pawar,4243 NORTH LINCOLN AVENUE,60618,52108,55074,6%,2153 WEST BERTEAU AVENUE,60618
47,48,Harry Osterman,5533 NORTH BROADWAY AVENUE,60640,56246,55014,-2%,1025 WEST HOLLYWOOD AVENUE,60660
48,49,Joe Moore,7356 NORTH GREENVIEW AVENUE,60626,59435,54633,-8%,1426 WEST ESTES AVENUE,60645
49,50,Debra L. Silverstein,"2949 WEST DEVON AVENUE, SUITE A",60659,62383,55809,-11%,2638 WEST NORTH SHORE AVENUE,60645

In [92]:
licenses = pd.read_pickle('licenses.p')
# explore primary key and foreign key in sql

In [93]:
licenses.columns

Index(['account', 'ward', 'aid', 'business', 'address', 'zip'], dtype='object')

In [98]:
wards_census = wards.merge(census, on="ward", suffixes=['_wards','_census'])

In [99]:
wards_census.merge(licenses, on="ward")

,ward,alderman,address_wards,zip_wards,pop_2000,pop_2010,change,address_census,zip_census,account,aid,business,address,zip
0,1,"Proco ""Joe"" Moreno",2058 NORTH WESTERN AVENUE,60647,52951,56149,6%,2765 WEST SAINT MARY STREET,60647,12024,NaN,DIGILOG ELECTRONICS,1038 N ASHLAND AVE,60622
1,1,"Proco ""Joe"" Moreno",2058 NORTH WESTERN AVENUE,60647,52951,56149,6%,2765 WEST SAINT MARY STREET,60647,14446,743,EMPTY BOTTLE INC,1035 N WESTERN AVE 1ST,60622
2,1,"Proco ""Joe"" Moreno",2058 NORTH WESTERN AVENUE,60647,52951,56149,6%,2765 WEST SAINT MARY STREET,60647,14624,775,LITTLE MEL'S HOT DOG,2205 N CALIFORNIA AVE,60647
3,1,"Proco ""Joe"" Moreno",2058 NORTH WESTERN AVENUE,60647,52951,56149,6%,2765 WEST SAINT MARY STREET,60647,14987,NaN,MR. BROWN'S LOUNGE,2301 W CHICAGO AVE 1ST,60622
4,1,"Proco ""Joe"" Moreno",2058 NORTH WESTERN AVENUE,60647,52951,56149,6%,2765 WEST SAINT MARY STREET,60647,15642,814,Beat Kitchen,2000-2100 W DIVISION ST,60622
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,50,Debra L. Silverstein,"2949 WEST DEVON AVENUE, SUITE A",60659,62383,55809,-11%,2638 WEST NORTH SHORE AVENUE,60645,6604,829,SIBLINGS,2827 W HOWARD ST,60645
9996,50,Debra L. Silverstein,"2949 WEST DEVON AVENUE, SUITE A",60659,62383,55809,-11%,2638 WEST NORTH SHORE AVENUE,60645,66512,NaN,CHANDNI BOUTIQUE INC,2503 W DEVON AVE 2ND,60659
9997,50,Debra L. Silverstein,"2949 WEST DEVON AVENUE, SUITE A",60659,62383,55809,-11%,2638 WEST NORTH SHORE AVENUE,60645,66638,NaN,PIDC PAN HOUSE,6342 N WESTERN AVE 1ST,60659
9998,50,Debra L. Silverstein,"2949 WEST DEVON AVENUE, SUITE A",60659,62383,55809,-11%,2638 WEST NORTH SHORE AVENUE,60645,80484,NaN,WHEEL OF CHICAGO,6229 N WESTERN AVE,60659
9999,50,Debra L. Silverstein,"2949 WEST DEVON AVENUE, SUITE A",60659,62383,55809,-11%,2638 WEST NORTH SHORE AVENUE,60645,81088,763,BISMILLAH ZABIHA MEAT & GROCER,2742 W DEVON AVE # STREE,60659

In [95]:
type(wards)

pandas.core.frame.DataFrame

In [96]:
type(wards.merge(census, on="ward", suffixes=['_wards','_census']))

pandas.core.frame.DataFrame

In [100]:
## Left/right join

In [101]:
movies = pd.read_pickle('movies.p')

In [102]:
movies_to_genres = pd.read_pickle('movie_to_genres.p')

In [103]:
movies.columns

Index(['id', 'title', 'popularity', 'release_date'], dtype='object')

In [104]:
movies_to_genres.columns

Index(['movie_id', 'genre'], dtype='object')

In [105]:
movies.head()

      id                 title  popularity release_date
0    257          Oliver Twist   20.415572   2005-09-23
1  14290  Better Luck Tomorrow    3.877036   2002-01-12
2  38365             Grown Ups   38.864027   2010-06-24
3   9672              Infamous    3.680896   2006-11-16
4  12819       Alpha and Omega   12.300789   2010-09-17

In [106]:
movies_to_genres.head()

   movie_id            genre
0         5            Crime
1         5           Comedy
2        11  Science Fiction
3        11           Action
4        11        Adventure

In [107]:
movies.merge(movies_to_genres, left_on='id', right_on='movie_id', how='left')

          id                 title  popularity release_date  movie_id    genre
0        257          Oliver Twist   20.415572   2005-09-23     257.0    Crime
1        257          Oliver Twist   20.415572   2005-09-23     257.0    Drama
2        257          Oliver Twist   20.415572   2005-09-23     257.0   Family
3      14290  Better Luck Tomorrow    3.877036   2002-01-12   14290.0    Crime
4      14290  Better Luck Tomorrow    3.877036   2002-01-12   14290.0    Drama
...      ...                   ...         ...          ...       ...      ...
12183  13807                Exiled    8.486390   2006-09-06   13807.0    Crime
12184  13807                Exiled    8.486390   2006-09-06   13807.0   Action
12185  73873          Albert Nobbs    7.802245   2011-12-21   73873.0    Drama
12186  11622   Blast from the Past    8.737058   1999-02-12   11622.0   Comedy
12187  11622   Blast from the Past    8.737058   1999-02-12   11622.0  Romance

[12188 rows x 6 columns]

In [108]:
movies.merge(movies_to_genres, left_on='id', right_on='movie_id', how='right')

,id,title,popularity,release_date,movie_id,genre
0,5,Four Rooms,22.876230,1995-12-09,5,Crime
1,5,Four Rooms,22.876230,1995-12-09,5,Comedy
2,11,Star Wars,126.393695,1977-05-25,11,Science Fiction
3,11,Star Wars,126.393695,1977-05-25,11,Action
4,11,Star Wars,126.393695,1977-05-25,11,Adventure
...,...,...,...,...,...,...
12155,426469,Growing Up Smith,0.710870,2017-02-03,426469,Drama
12156,433715,8 Days,0.015295,2014-06-15,433715,Thriller
12157,433715,8 Days,0.015295,2014-06-15,433715,Drama
12158,447027,Running Forever,0.028756,2015-10-27,447027,Family
12159,459488,"To Be Frank, Sinatra at 100",0.050625,2015-12-12,459488,Documentary

In [109]:
movies.merge(movies_to_genres, left_on='id', right_on='movie_id', how='outer')

          id                 title  popularity release_date  movie_id    genre
0        257          Oliver Twist   20.415572   2005-09-23     257.0    Crime
1        257          Oliver Twist   20.415572   2005-09-23     257.0    Drama
2        257          Oliver Twist   20.415572   2005-09-23     257.0   Family
3      14290  Better Luck Tomorrow    3.877036   2002-01-12   14290.0    Crime
4      14290  Better Luck Tomorrow    3.877036   2002-01-12   14290.0    Drama
...      ...                   ...         ...          ...       ...      ...
12183  13807                Exiled    8.486390   2006-09-06   13807.0    Crime
12184  13807                Exiled    8.486390   2006-09-06   13807.0   Action
12185  73873          Albert Nobbs    7.802245   2011-12-21   73873.0    Drama
12186  11622   Blast from the Past    8.737058   1999-02-12   11622.0   Comedy
12187  11622   Blast from the Past    8.737058   1999-02-12   11622.0  Romance

[12188 rows x 6 columns]